body{ font-family:arial; }
.nav {
display: flex;
justify-content: space-around; 
background: black;
margin-left: 5%;
margin-right: 5%
}
.nav a {
color:#fff;
padding:25px 45px;
text-decoration:none;
text-align:center;
}
.nav a:hover { background:#5c8db7; }
@media all and (max-width: 800px) {
.nav { justify-content: space-around;}
.nav a{ flex-grow:1; }
}

@media all and (max-width: 500px) {
.nav { flex-direction: column; }
}

.forest {
	display: flex;
	justify-content: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5px;
}

.text {
	width: 60%;
	display: flex;
	margin-left: 5%;

	margin-top: 5px;
	line-height: 25px;
	text-align: justify;
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	float: right;
	line-height: 25px;
	padding-right: 20px;
	margin-top: 25px;
	margin-right: 10%;
	background: silver;
}

.bottom {
	padding-top: 55px;
	padding-left: 35%;
	height: 80px;
	display: flex;
	background: #90EE90;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 15px;
	margin-bottom: 5px;
}




